body {
    margin: 0;
    font-family: Arial, sans-serif;

    color: #000;
    display: flex;
}

.container1 {
    flex: 2;
    background-color: red;

}
.container2 {
    flex: 8;
    margin: 0 2;
    padding: 2px;
    background-color: blanchedalmond;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 3em;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

section {
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}

.contact-agency, .our-contacts {
    text-align: left;
}

.any-questions {
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: cyan;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: grey;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 200px;
    height: 200px;
}

@media (max-width: 1024px) {
    header h1 {
        font-size: 2.5em;
    }

    nav a {
        margin: 0 10px;
        font-size: 1em;
    }

    section {
        margin: 0 5px;
    }

    .contact-agency p, .our-contacts address {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav a {
        margin: 0 5px;
        font-size: 0.9em;
    }

    section {
        margin: 0 5px;
    }

    .contact-agency p, .our-contacts address {
        font-size: 0.8em;
    }

    form input, form textarea {
        padding: 8px;
        margin: 8px 0;
    }

    form button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container1{
        min-width: 20%;
    }
    

    section {
        margin: 0 0px;
    }

    form input, form textarea {
        padding: 6px;
        margin: 6px 0;
    }

    form button {
        padding: 6px 12px;
    }
}
